.text-personalDataInput {
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.88px;
    text-align: center;
    color: var(--blackContent);
    padding-left: 20px;
}

.container-personalDataInput {
    display: flex;
    
}
.img-info {
    padding-left: 40px;
    padding-top: 30px;
}

.img-back {
    padding-left: 20px;
}

.red {
    color: var(--attentionContent);
}

.lable-personalDataInput {
    font-family: PT Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.53px;
    text-align: left;
    padding-top: 25px;
}

label a {
    color: var(--attentionContent);
    text-decoration: none;
}

label a:hover {
    text-decoration: underline;
}

input[type="checkbox"] {
    border-color: var(--brownColor);
    cursor: pointer;
    margin-right: 27px;
}

.btn-personalDataInput {
    margin-top: -25px;
}

.text-info {
    font-family: PT Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.53px;
    text-align: left;
    color: var(--attentionContent);
    padding-top: 42px;
}

.form-box {
    padding-top: 40px;
}

.button-box {
	position: relative;
	background:var(--white);
    height: 55px;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.7px;
    text-align: left;
    color: var(--brownOpacity60);
    border: 5px;
    border: 2px solid var(--brownOpacity60);
    border-radius: 20px;
}

.toggle-btn {
	padding: 17.5px 35px;
	cursor: pointer;
	background: transparent;
	outline: none;
	position: relative;
	text-align: center;
}

.toggle-btn-s {
    padding: 0px 65px;
}

#btn-toggle {
	left: 0;
	top: 0;
	position: absolute;
	width: 170px;
	height: 100%;
	background: var(--brownOpacity10);
	border-radius: 20px;
}

