.ButtonBrown{
    max-width: 327px;
height: 55px;
margin-top: 77px;
    color: var(--brownOpacity90);
    background: var(--brownOpacity10);
    font-size: 24px;
    padding: 10px 82px;
    text-align: center;
    border-radius: 28px;
    p{
        width: 246px;
    }
}

.ButtonBrown:hover{
background: var(--beigeOpacity60);
color: var(--white);
}