.btns{
    width: 340px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--brownOpacity90);
    color: var(--white);
    text-align: center;
    border: none;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    margin: var(--marginBtn);
    font-size: 16px;
    cursor: pointer;
}

.btns:hover {
    background-color:var(--brownOpacity60);
    transition: 0.7s;
}

