.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--brownColor);
    padding-bottom: 25px;
}

.leftSide{
    display: flex;
    width: 540px;
    gap: 41px;
}

.rightSide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 441px;
}

.employeeInfo{
    display: flex;
    align-items: center;
    gap: 33px;
}

.borderRight{
    border-right: 1px solid var(--brownColor);
    padding-right: 40px;
}
