.SCPA-text{
    margin-top: 40.68px;
    // width: px;
    padding-left:37.5px;
    padding-right: 37.5px ;
height: 77px;
font-family: PT Sans;
font-size: 20px;
font-weight: 400;
line-height: 25.88px;
text-align: center;

}

.SCPA-btn{
    margin-top: 15px;
}