:root {
  --white: rgba(255, 255, 255, 1);
  --brownColor: rgba(98, 59, 42, 1);
  --brownOpacity10: rgba(98, 59, 42, 0.1);
  --brownOpacity20: rgba(195, 147, 103, 0.2);
  --brownOpaciry90: rgba(98, 59, 42, 0.9);
  --brownOpacity60: rgba(98, 59, 42, 0.6);
  --blackContent: rgba(44, 42, 41, 1);
  --attentionContent: rgba(224, 78, 57, 1);
  --redOpacity60: rgba(231, 52, 46, 0.6);
  --orangeOpacity60: rgba(243, 148, 0, 0.6);
  --yellowOpacity60: rgba(254, 234, 18, 0.6);
  --lightGreenOpacity60: rgba(152, 190, 13, 0.6);
  --greenOpacity60: rgba(66, 166, 42, 0.6);
  --marginBtn: 35px 0 0 25px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
